body {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
a {
  color: white;
}
.gridCell div {
  color: #000;
}
.title {
  font-size: 3em;
  display: inline;
  width: 100%;
  padding: 0 115px;
  color: white;
  text-transform: uppercase;
}
/*.gridCell:first-child {*/
  /*border-top: none;*/
  /*border-left: none;*/
/*}*/
/*.gridCell:last-child {*/
  /*border-bottom: none;*/
  /*border-right: none;*/
/*}*/
/*.gridCell:nth-child(2) {*/
  /*border-top: none;*/
/*}*/
/*.gridCell:nth-child(3) {*/
  /*border-top: none;*/
  /*border-right: none;*/
/*}*/
/*.gridCell:nth-child(4) {*/
  /*border-left: none;*/
/*}*/
/*.gridCell:nth-child(6) {*/
  /*border-right: none;*/
/*}*/
/*.gridCell:nth-child(7) {*/
  /*border-left: none;*/
  /*border-bottom: none;*/
/*}*/
/*.gridCell:nth-child(8) {*/
  /*border-bottom: none;*/
/*}*/
.header {
  background-color: #e27373;
}
.header a {
  outline: none;
  text-decoration: none;
}
.board {
  background: white;
  margin:0 auto;
  padding: 0 !important;
  width: 60vw;
  height: 60vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
@media (min-width: 800px) {
  .board {
    width: 40vw;
    height: 40vw;
    padding: 10px 30vw;
  }
}
@media (min-width: 1200px) {
  .board {
    width: 24vw;
    height: 24vw;
    padding: 10px 35vw;

  }
}
.gridCell {
  grid-column: span 1;
  grid-row: span 1;
  cursor: pointer;
  border: 2px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3em;
  height: 150px;
  width:150px;
}
.message {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #ff8080;
  color: white;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}
.c_message {
  width: 40%;
  padding: 0;
}
.reset {
  text-align: center;
  max-width: 40%;
  padding: 10px;
  margin: 5px;
  margin-left: 5%;
  background-color: black;
  color: white;
  border-radius: 5px;
}
.c_message::first-letter {
  color: white;
  font-size: 40px;
  margin-top: 16px;
  margin-right: 10px;
}
.reset:hover {
  background-color: #323232;
  color: white;
}
.scoreboard {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  color: black;
}
.scoreboardTitle {
  font-size: 2em;
  width: 100%;
  padding: 5px;
  background-color: #323232;
  color: white;
}
.scoreTitle {
  min-width: 30%;

  font-size: 30px;
}
.score {
  font-size: 50px;
  min-width: 30%;
  border: 1px solid black;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
